<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--
			We need to store the thumbprint for the library's SSL certificate if
			it isn't trusted by the system. (e.g., the wildcard/host issue that
			currently (2011-02-15) exists). Amongst other means, you can get
			the thumbprint from IE by viewing certificate details.
			
			Remove any spaces and punctuation.
		-->
		<add key="sslthumbprint" value="B9DCED3E7FB8F857E88790600EF3AFC3A5C7CAEC" />
	</appSettings>
	<system.diagnostics>
		<sources>
			<source name="System.Net" tracemode="includehex" maxdatasize="1024">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Sockets">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Cache">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="System.Net" value="Verbose"/>
			<add name="System.Net.Sockets" value="Verbose"/>
			<add name="System.Net.Cache" value="Verbose"/>
		</switches>
		<sharedListeners>
			<add name="System.Net"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="network.log"
      />
		</sharedListeners>
		<trace autoflush="true"/>
	</system.diagnostics>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
</configuration>